<body>
    <br>
    <div class="wrapper">
        <div class="container">
            <div class="title">
                <h1>CETECOM</h1>
                <p>Sistema de gestión perteneciente a cetecom para el control de equipos y solicitudes</p>
                <p>Version trial solo para pc, actualice a pro para mas responsividad</p>
                <div class="buttons">
                    <button [routerLink]="['/login']" routerLinkActive="router-link-active">Entrar</button>
                </div>
            </div>
            <div class="view">
                <div class="clip-svg">
                    <img src="../../../assets/img/Cetecom_Logo.png" alt="imagen no encontrada :/">
                </div>    
            </div>
        </div>
    </div>
</body>