/*
.window-notice {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}
.window-notice .content {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 600px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}
img{
    height: 100px;
    width: 100px;
    margin-left: 30%;
    margin-top: 5%;
}
h5{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 80%;
}
*/
.card{
    margin: 10%;
    background-color: #222F42;
}
.card > .menu > h1{
    
    margin-left: 42%;
    color: white;
}
ol.even {
    position: relative;
    left: 5.45455rem;
    }
    
    ol.odd {
    position: relative;
    margin-bottom: -4.5%;
    }
    
    .hex {
    position: relative;
    margin: 1em auto;
    width: 6rem;
    height: 10.2rem;
    background: #1e2530;
    transform: rotate(-90deg);
    display: inline-block;
    list-style-type: none;
    margin-right: 4.61538rem;
    transition: all 150ms ease-in-out;
    z-index: 2;
    }
    
    .hex:before, .hex:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    z-index: -1;
    }
    
    .hex:before {
    transform: rotate(60deg);
    }
    
    .hex:after {
    transform: rotate(-60deg);
    }
    
    .hex:hover {
    background: #003D6A;
    cursor: pointer;
    }

    .hex .hex-content {
        position: absolute;
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%) rotate(90deg);
        
        color: white;
        }

