 <body>
   
  <div class="contenedor">
    <div class="wrapper">
        <div class="container data">
            <div class="header">
                <span>Sofware desarrollado a modo de pruebas</span>
                <h1>Sofware Demo</h1>
            </div>
            <div class="subheader">Design by MAWA666</div>
        </div>
        <div class="container login">
            <h2>Login</h2>
            <form action="#">
                <input type="text" placeholder="name@gmail.com">
                <input id="txtPassword" type="password" placeholder="*********">
                <button id="boton-ojito" class="btn btn-primary" type="button" onclick="mostrarPassword()"><span class="fa fa-eye-slash icon"></span></button>
                <input type="submit" value="login" [swal]="['Oops!', 'El modulo login aún no se encuentra habilitado :/', 'warning']">
            </form>
            <div class="social">
                
            </div>
        </div>
    </div>
</div>

 </body>

<!--<form id="form1">
<div class="container">
    <div class="row">
  <div class="col-md-6">
        <p>Click en el ojo para mostrar / ocultar</p>
        <label>Ingrese Contraseña</label>
        <div class="input-group">
      <input ID="txtPassword" type="Password" Class="form-control">
      <div class="input-group-append">
            <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()">  </button>
          </div>
    </div>
      </div>
 
</div>
  </div>
</form>-->


