.card{
    margin: 3%;

}
.header > h5{
    margin-bottom: 1px;
    color: white;
}
.card > .button{
    margin-top: 20px;
}
form > .button{
    margin-top: 5%;
}
button{
    margin: 1%;
}
.body-card{
    margin-left: 16%;
}